body {
    background-color: hsl(228, 33%, 97%);

}

.comment {
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    border: solid;
    border-radius: 5px;
    background-color: white;
    font-family: 'Rubik', sans-serif;
    color: hsl(211, 10%, 45%);
}
.profile-pic {
    margin-top: -60px;
    margin-left: 55px;
    margin-right: 97%;
}
.username {
    font-weight: bold;
    margin-top: -45px;
    margin-left: 125px;
    margin-right: 97%;
}
.date {
    font-family: 'Rubik', sans-serif;
    color: hsl(211, 10%, 45%);
    margin-top: -20px;
    margin-left: 250px;
    margin-right: 50%;
}
.votes {
    text-align: center;
    font-weight: bold;
    color: hsl(238, 40%, 52%);
    background-color: hsl(228, 33%, 97%);
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 97%;
    border-radius: 5px;
}
.message {
    padding: 2%;
    margin-left: 10%;
    margin-right: 10%;
}
.reply-name{
    color: hsl(238, 40%, 52%);
    font-weight: bold;
}
#reply{
    margin-left: 30%;
}